flows.json
[{"id":"e9f1c99d.a9aba8","type":"tab","label":"Relay Station","disabled":false,"info":""},{"id":"29783d49.4bb5f2","type":"rpi-gpio out","z":"e9f1c99d.a9aba8","name":"Relay 1","pin":"7","set":true,"level":"0","freq":"","out":"out","x":960,"y":1080,"wires":[]},{"id":"2ced537c.feef4c","type":"rpi-gpio out","z":"e9f1c99d.a9aba8","name":"Relay 2","pin":"15","set":true,"level":"0","freq":"","out":"out","x":960,"y":1160,"wires":[]},{"id":"5659c2a8.4302dc","type":"rpi-gpio out","z":"e9f1c99d.a9aba8","name":"Relay 3","pin":"31","set":true,"level":"0","freq":"","out":"out","x":960,"y":1239,"wires":[]},{"id":"d3a887a2.92d828","type":"rpi-gpio out","z":"e9f1c99d.a9aba8","name":"Flex Radio","pin":"37","set":true,"level":"1","freq":"","out":"out","x":970,"y":1320,"wires":[]},{"id":"4848c632.637d38","type":"change","z":"e9f1c99d.a9aba8","name":"Set Relay1","rules":[{"t":"change","p":"payload","pt":"msg","from":"000","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"001","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"010","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"011","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"101","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"110","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"111","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1080,"wires":[["29783d49.4bb5f2"]]},{"id":"f049de72.968f4","type":"change","z":"e9f1c99d.a9aba8","name":"Set Relay2","rules":[{"t":"change","p":"payload","pt":"msg","from":"000","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"001","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"010","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"011","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"101","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"110","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"111","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1160,"wires":[["2ced537c.feef4c"]]},{"id":"7ccfde1.338a42","type":"change","z":"e9f1c99d.a9aba8","name":"Set Relay3","rules":[{"t":"change","p":"payload","pt":"msg","from":"000","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"001","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"010","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"011","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"101","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"110","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"111","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1239,"wires":[["5659c2a8.4302dc"]]},{"id":"5a642e3.11e96d","type":"ui_switch","z":"e9f1c99d.a9aba8","name":"","label":"Flex Radio","tooltip":"","group":"f91dd1ee.a57fe","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":370,"y":1320,"wires":[["ecd0421a.5504c"]]},{"id":"ecd0421a.5504c","type":"change","z":"e9f1c99d.a9aba8","name":"Flex Radio On/Off","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1320,"wires":[["d3a887a2.92d828"]]},{"id":"56f01f20.130d3","type":"ui_dropdown","z":"e9f1c99d.a9aba8","name":"","label":"Antenna","tooltip":"","place":"Select option","group":"bb99123d.e88aa","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Hexx Beam","value":"000","type":"str"},{"label":"Antenna 2","value":"001","type":"str"},{"label":"Butternut","value":"010","type":"str"},{"label":"Antenna 4","value":"011","type":"str"},{"label":"Antenna 5","value":"100","type":"str"},{"label":"Antenna 6","value":"101","type":"str"},{"label":"Antenna 7","value":"110","type":"str"},{"label":"Antenna 8","value":"111","type":"str"}],"payload":"","topic":"","x":380,"y":1160,"wires":[["4848c632.637d38","f049de72.968f4","7ccfde1.338a42"]]},{"id":"6c4f05c0.00109c","type":"ui_text","z":"e9f1c99d.a9aba8","group":"f91dd1ee.a57fe","order":1,"width":0,"height":0,"name":"","label":"Amp Status","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":1660,"wires":[]},{"id":"e3c2225a.01f35","type":"ui_dropdown","z":"e9f1c99d.a9aba8","name":"","label":"Amp Control ","tooltip":"","place":"Select option","group":"f91dd1ee.a57fe","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Amp Power On","value":"P","type":"str"},{"label":"Amp Power Off","value":"^on0;","type":"str"},{"label":"Amp in Standby","value":"^os0;;^os;","type":"str"},{"label":"Amp Active","value":"^os1;;^os;","type":"str"},{"label":"Fault Status","value":"^fl;","type":"str"},{"label":"Fault Clear","value":"^flc;","type":"str"}],"payload":"","topic":"","x":370,"y":1480,"wires":[["b4dc3c40.b2769"]]},{"id":"b4dc3c40.b2769","type":"serial out","z":"e9f1c99d.a9aba8","name":"","serial":"fc4aa69a.bfca98","x":650,"y":1520,"wires":[]},{"id":"5ef387ea.ff0868","type":"serial in","z":"e9f1c99d.a9aba8","name":"","serial":"fc4aa69a.bfca98","x":650,"y":1580,"wires":[["8765c99a.abe068"]]},{"id":"5cc8cf9c.a0efe","type":"change","z":"e9f1c99d.a9aba8","name":"Amp strip","rules":[{"t":"change","p":"payload","pt":"msg","from":"^OS0;","fromt":"str","to":"Amp in Standby","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"^FL00;","fromt":"str","to":"Fault Cleared","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"^OS1;","fromt":"str","to":"Amp Active","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"^FL01;","fromt":"str","to":"SWR Fault","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"^FL09;","fromt":"str","to":"SWR Fault","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1660,"wires":[["6c4f05c0.00109c"]]},{"id":"bc4736f6.27a068","type":"inject","z":"e9f1c99d.a9aba8","name":"SWR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"^ws;^tm;^vi;","payloadType":"str","x":390,"y":1560,"wires":[["b4dc3c40.b2769"]]},{"id":"d9b7c7dd.82d4b8","type":"ui_text","z":"e9f1c99d.a9aba8","group":"f91dd1ee.a57fe","order":1,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}W","layout":"row-center","x":1450,"y":1560,"wires":[]},{"id":"8765c99a.abe068","type":"switch","z":"e9f1c99d.a9aba8","name":"demultiplexer","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"^VI","vt":"str"},{"t":"cont","v":"^TM","vt":"str"},{"t":"cont","v":"^WS","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":4,"x":830,"y":1580,"wires":[["5e8bc5a6.8c6f5c"],["64e91eba.1bc08"],["7dd91d5.cf0cfe4"],["5cc8cf9c.a0efe"]]},{"id":"7dd91d5.cf0cfe4","type":"change","z":"e9f1c99d.a9aba8","name":"W-SWR strip","rules":[{"t":"change","p":"payload","pt":"msg","from":"[^0-9\\s]","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1580,"wires":[["db8e942c.e00388","8597b876.297aa8"]]},{"id":"99fbb34e.5deac","type":"ui_text","z":"e9f1c99d.a9aba8","group":"9b6d707b.0bc46","order":1,"width":0,"height":0,"name":"","label":"PA Temp","format":"{{value}}C","layout":"row-center","x":1460,"y":1520,"wires":[]},{"id":"fe86fed7.928f2","type":"ui_text","z":"e9f1c99d.a9aba8","group":"9b6d707b.0bc46","order":1,"width":0,"height":0,"name":"","label":"PS ","format":"{{value/10}}V","layout":"row-center","x":1450,"y":1420,"wires":[]},{"id":"64e91eba.1bc08","type":"change","z":"e9f1c99d.a9aba8","name":"PA Strip","rules":[{"t":"change","p":"payload","pt":"msg","from":"[TM;\\x5e]","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1520,"wires":[["4419bb01.667774"]]},{"id":"5e8bc5a6.8c6f5c","type":"change","z":"e9f1c99d.a9aba8","name":"PS Strip","rules":[{"t":"change","p":"payload","pt":"msg","from":"[VI;\\x5e]","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1440,"wires":[["5f917686.860278","da2f47cd.d97718"]]},{"id":"5f917686.860278","type":"change","z":"e9f1c99d.a9aba8","name":"PS V","rules":[{"t":"change","p":"payload","pt":"msg","from":"....$","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1420,"wires":[["fe86fed7.928f2"]]},{"id":"da2f47cd.d97718","type":"change","z":"e9f1c99d.a9aba8","name":"PS I","rules":[{"t":"change","p":"payload","pt":"msg","from":"....","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1460,"wires":[["c86558fd.fdaf38"]]},{"id":"c86558fd.fdaf38","type":"ui_text","z":"e9f1c99d.a9aba8","group":"9b6d707b.0bc46","order":1,"width":0,"height":0,"name":"","label":"PS ","format":"{{value/10}}A","layout":"row-center","x":1450,"y":1460,"wires":[]},{"id":"db8e942c.e00388","type":"change","z":"e9f1c99d.a9aba8","name":"Power","rules":[{"t":"change","p":"payload","pt":"msg","from":"....$","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1560,"wires":[["d9b7c7dd.82d4b8"]]},{"id":"8597b876.297aa8","type":"change","z":"e9f1c99d.a9aba8","name":"SWR","rules":[{"t":"change","p":"payload","pt":"msg","from":"....","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1600,"wires":[["17b875c8.a142ea"]]},{"id":"17b875c8.a142ea","type":"ui_text","z":"e9f1c99d.a9aba8","group":"f91dd1ee.a57fe","order":1,"width":0,"height":0,"name":"","label":"SWR","format":"{{value/10}}:1","layout":"row-center","x":1450,"y":1600,"wires":[]},{"id":"4419bb01.667774","type":"change","z":"e9f1c99d.a9aba8","name":"Temp","rules":[{"t":"change","p":"payload","pt":"msg","from":"^.","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1520,"wires":[["99fbb34e.5deac"]]},{"id":"f91dd1ee.a57fe","type":"ui_group","name":"Flex Radio","tab":"c3c3c82b.8f66a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bb99123d.e88aa","type":"ui_group","name":"Relay","tab":"c3c3c82b.8f66a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc4aa69a.bfca98","type":"serial-port","serialport":"/dev/ttyUSB1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0x3b","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9b6d707b.0bc46","type":"ui_group","name":"KPA500","tab":"c3c3c82b.8f66a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"c3c3c82b.8f66a8","type":"ui_tab","name":"Relay Station","icon":"dashboard","order":"1","disabled":false,"hidden":false}]